.footer-content {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #A5D7E8;
}

.content {
    display: flex;
    position: relative;
    align-items: start;
    padding: 150px 10px;
    gap: 30px;
}

.tagline {
    padding: 10px 30px;
    width: 50%;
    color: #4a4a4a;
}

.tagline-title {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.right-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 30vh;
    color: #4a4a4a;
}

.right-footer-up {
    display: flex;
    gap: 90px;
    list-style: none;
    font-size: 16px;
}

.header-footer {
    font-weight: bolder;
    color: black;
}

.right-footer-up li {
    margin-bottom: 10px;
}

.right-footer-down {
    margin-top: 80px;
    border-top: 1px solid #4a4a4a;
    padding-top: 20px;
}

.circle {
    position: absolute;
    border: 230px solid #3C91E612;
    border-radius: 50%;
    right: 10px;
    top: 50px;
}
